<!DOCTYPE html>

<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/app.js"></script>
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Nebojsa Nikolic. It uses data from mapnox.com and darksky.net!</p>
      <img class="portrait" src="/img/angels.jpg" alt="angels" />
    </div>

    {{>foother}}
  </body>
</html>
